table th {
    background-color: #57d4e5;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #333;
    border: 2px solid #57d4e5;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    background-color: #1f1f1f;
}

h2 {
    font-size: 24px;
    color: #57d4e5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #333;
    border: 2px solid #57d4e5;
    background-color: #333;
}

.student-table {
    margin-bottom: 40px;
}

.course-table {
    margin-top: 40px;
}

.course-table h2 {
    color: #57d4e5;
    margin-bottom: 10px;
}

.table-container {
    margin-bottom: 40px;
    border: 2px solid #57d4e5;
    border-radius: 8px;
    overflow-x: auto;
}

.table-container table tr:hover {
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(122, 0, 0, 0.6);
}

button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #57d4e5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1a9eb8;
}

.university-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #57d4e5;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.filter-box,
.search-box {
    text-align: center;
    margin-bottom: 20px;
}

.filter-box select,
.search-box input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0; /* Light gray */
    color: #333;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label[for='filter_year'],
label[for='filter_semester'] {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333; 
}

.search-box button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.search-box button img {
    width: 20px;
    height: 20px;
}

.filter-box label,
.filter-box select {
    display: inline-block;
    margin: 0 10px;
    color: #f0f0f0;
    font-size: 16px;
}

.filter-box select {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label[for='filter_year'],
label[for='filter_semester'] {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f0f0f0; 
}

.course-table {
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

.course-table::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
}

.course-table::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
}

.container {
    width: 100%; 
    max-height: 80vh; 
    padding: 20px; 
    overflow: auto; 
    position: relative;
}

.container::-webkit-scrollbar {
    width: 8px; 
}

.container::-webkit-scrollbar-track {
    background: #333; 
}

.container::-webkit-scrollbar-thumb {
    background: #888; 
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.container::-webkit-scrollbar-track-piece:start {
    margin-top: 20px; 
}

.container::-webkit-scrollbar-track-piece:end {
    margin-bottom: 20px; 
}

.container::-webkit-scrollbar-thumb {
    border-radius: 2px; 
}


.university-image {
    margin-right: 10px;
}

.university-image img {
    max-width: 100px;
    height: auto;
}

.university-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #7a0000;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.university-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: -68px; 
}

.university-image {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.university-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #57d4e5;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.program-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #57d4e5;
    font-size: 28px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.student-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
    border: 2px solid #57d4e5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.student-info * {
    font-size: 20px;
    color: #f0f0f0;
}

.student-info .left-info,
.student-info .right-info {
    width: 45%;
}

.table-container table tr:hover {
    background-color: #f0f0f06b;
}

.table-container table th:hover,
.table-container table td:hover {
    background-color: #f0f0f06b;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.popup {
    color: #333;
    font-size: 16px;
    text-align: center;
}

